html {
    overflow-y: scroll;
}

.navbar {
  background-color: #7bd3ed;
}

.album {
  background-color: #ffe600;
}

main {
  background-color: #007bff;
}

.card img {
    background-color: #7bd3ed;
}

.card:hover {
    border: 3px solid #7bd3ed;
    transform: scale(1.15);
    transition: 1s;
    z-index: 1000;
}

footer{
  background-color: #7bd3ed;
}

.cursor-pointer {
    cursor: pointer;
}

.path {
  color: #ffe600;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7bd3ed;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7bd3ed; 
  }